/*global style for website */
*{
    box-sizing: border-box;
    margin: o;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    margin: auto;
     background-image: url("./family\ room.jpeg");
  background-repeat: no-repeat;
}


#header1{
    background-color:#4CAF50 ;
    padding: 10px 8px;
    color: #ffffff;
    height: 100px;
}
 #header1 nav{
    display: flex;
}
  #header1  nav ul{
    display: flex;
    margin: auto;
}
  #header1  nav ul li{
    padding: 12px;
    list-style-type: none;
}
 #header1 nav ul li a{
    padding: 20px;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    width: 100%;
}

 #header1 nav ul li a:hover{
    background-color:#555555;
    border-radius: 10px;
 }
#header1 input[type=search] {
  float: right;
  padding: 8px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 20px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  height: 40px;
}
#header1 input[type=search]:focus{
  outline: none;
  background-color: #666765;
}
/*small devices responsiveness */
@media screen and (max-width: 600px){
#header1 nav,#header1 nav ul,#header1 nav li, #header1 nav ul li a,#header1 input[type=search]{

    
}

}

/* styling the homepage section with background image and button inside */
section .homepage{
  background-image: url("./family\ room.jpeg");
  background-repeat: no-repeat;
}
