/*global style for website */
*{
    box-sizing: border-box;
    margin: o;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    margin: auto;
}

#header1{
    background-color:#4CAF50 ;
    padding: 10px 8px;
    color: #ffffff;
    height: 100px;
}
 #header1 nav{
    display: flex;
}
  #header1  nav ul{
    display: flex;
    margin: auto;
}
  #header1  nav ul li{
    padding: 12px;
    list-style-type: none;
}
 #header1 nav ul li a{
    padding: 20px;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    width: 100%;
}

 #header1 nav ul li a:hover{
    background-color:#555555;
    border-radius: 10px;
 }
#header1 input[type=search] {
  float: right;
  padding: 8px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 20px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  height: 40px;
}
#header1 input[type=search]:focus{
  outline: none;
  background-color: #666765;
}
/*small devices responsiveness */
@media screen and (max-width: 600px){
#header1 nav,#header1 nav ul,#header1 nav li, #header1 nav ul li a,#header1 input[type=search]{
   float: none;
   position: relative;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
}

}

#welcome #myVideo {
  position: fixed;
  right: 0;
  min-width: 100%; 
  height: 60%;
  object-fit: cover;
  overflow: none;
}
#welcome .view {
 text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #ffffff;
/*magic cheate code for centering a div */
  transform: translate(-50%, -50%);
}
#welcome .view #Register{
    background-color: #4CAF50;
    border: none;
    padding: 12px;
    color: #ffffff;
    width: 100px;
    cursor: pointer;

}
#welcome .view #Register:hover{
    background-color:#ff0000;
}

#welcome .view #Login{
    background-color: #e8d616;
    border: none;
    padding: 12px;
    color: #ffffff;
    width: 100px;
    cursor: pointer;  
}
#welcome .view #Login:hover{
    background-color:#ff0000;
}



/*styling modal sign up form */
