/*global style for website */
*{
    box-sizing: border-box;
    margin: o;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    margin: auto;
}

#header1{
   
    background-color:#4CAF50 ;
    padding: 10px 8px;
    color: #ffffff;
    height: fit-content;
}
 #header1 nav{
    display: flex;
}
  #header1  nav ul{
    display: flex;
    margin: auto;
}
  #header1  nav ul li{
    padding: 12px;
    list-style-type: none;
}
 #header1 nav ul li a{
    padding: 20px;
    cursor: pointer;
    width: 100%;
}

 #header1 nav ul li a:hover{
    background-color:#555555;
 }
#header1 input[type=search] {
  float: right;
  padding: 8px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 20px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  height: 40px;
}
/*small devices responsiveness */
@media screen and (max-width: 600px){
#header1 nav,#header1 nav ul,#header1 nav li, #header1 nav ul li a,#header1 input[type=search]{
   float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
}
 
}