/*global style for website */
*{
    box-sizing: border-box;
    margin: o;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    margin: auto;
   
}


#header1{
    background-color:#4CAF50 ;
    padding: 10px 8px;
    color: #ffffff;
    height: 100px;
}
 #header1 nav{
    display: flex;
}
  #header1  nav ul{
    display: flex;
    margin: auto;
}
  #header1  nav ul li{
    padding: 12px;
    list-style-type: none;
}
 #header1 nav ul li a{
    padding: 20px;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    width: 100%;
}

 #header1 nav ul li a:hover{
    background-color:#555555;
    border-radius: 10px;
 }
#header1 input[type=search] {
  float: right;
  padding: 8px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 20px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  height: 40px;
}
#header1 input[type=search]:focus{
  outline: none;
  background-color: #666765;
}
/*small devices responsiveness */
@media screen and (max-width: 600px){
    #header1{
        height: auto;
        padding: 10px;
    }
    
    #header1 nav{
        flex-direction: column;
        align-items: stretch;
    }
    
    #header1 nav ul{
        flex-direction: column;
        margin: 0;
        width: 100%;
        padding: 0;
    }
    
    #header1 nav ul li{
        padding: 0;
        width: 100%;
    }
    
    #header1 nav ul li a{
        padding: 12px 15px;
        display: block;
        text-align: center;
        width: 100%;
    }
    
    #header1 input[type=search]{
        float: none;
        width: 100%;
        margin: 10px 0 0 0;
        box-sizing: border-box;
    }
}

/* styling the homepage section with background image and button inside */
section.homepage{
  background-image: url("./deluxe\ room.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 50vh;
}
